<?xml version="1.0"?>
<!--
    Shopix_Nologin - Disable Magento customer register and login functionality.
    Copyright (C) 2013 Shopix Pty Ltd (http://www.shopix.com.au)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<config>
    <modules>
        <Shopix_Nologin>
            <version>0.1.0</version>
        </Shopix_Nologin>
    </modules>
    <global>
        <helpers>
            <shopix_nologin>
                <class>Shopix_Nologin_Helper</class>
            </shopix_nologin>
        </helpers>
        <blocks>
            <checkout>
                <rewrite>
                    <onepage>Shopix_Nologin_Block_Checkout_Onepage</onepage>
                    <onepage_billing>Shopix_Nologin_Block_Checkout_Onepage_Billing</onepage_billing>
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <checkout>
                <rewrite>
                    <type_onepage>Shopix_Nologin_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
        </models>
    </global>
    <frontend>
        <routers>
            <customer>
                <args>
                    <module before="Mage_Customer">Shopix_Nologin</module>
                </args>
            </customer>
        </routers>
        <layout>
            <updates>
                <shopix_nologin module="Shopix_Nologin">
                    <file>shopix_nologin.xml</file>
                </shopix_nologin>
            </updates>
        </layout>
    </frontend>
    <default>
        <customer>
            <startup>
                <nologin>0</nologin>
            </startup>
        </customer>
    </default>
</config>
